{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-organize-imports"
    ],
    "singleQuote": false,
    "tabWidth": 4,
    "semi": false,
    "bracketSpacing": true
}
