@import 'tailwindcss';

@theme {
    /* Fonts */
    --font-sans: 'Satoshi', sans-serif;

    /* Spacing */
    --spacing-eq-lg: 1400px;
    --spacing-eq-sm: 1100px;
    --spacing-eq-xs: 600px;
}

body {
    @apply bg-neutral-950 text-white;
}
