@import 'tailwindcss';

@theme {
    /* Fonts */
    --font-sans: 'Satoshi', sans-serif;

    /* Spacing */
    --spacing-page: 1100px;
}

body, div {
    @apply max-w-page mx-auto bg-neutral-950 text-zinc-100;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
    display: none;
}