@import 'tailwindcss';

@theme {
    /* Fonts */
    --font-sans: 'Satoshi', sans-serif;

    /* Spacing */
    --spacing-page: 1100px;
}

body {
    @apply max-w-page mx-auto bg-neutral-950 text-zinc-100;
}

.hide-scrollbar {
    -ms-overflow-style: none;
        scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}